<nav class="navbar">
        <h2 class="brand-title">Sport-buddy</h2> 
        <img class="toggle-button" src="Images/Unknown.png" alt="">

        <section class="navbar-links">
            <div class="sport">
            <label for="sport">Sportvoorkeur:</label>
            <select id="sport" name="sport">
                <option selected value="{{profiel.sport}}">{{profiel.sport}}</option>
                <option value="voetbal">Voetbal</option>
                <option value="darten">Darten</option>
                <option value="tennis">Tennis</option>
            </select>
        </div>

        <div class="leeftijd">
            <label for="leeftijd">Leeftijd:</label>
            <select id="leeftijd" name="leeftijd">
                <option selected value="{{profiel.leeftijd}}">{{profiel.leeftijd}}</option>
                <option value="18-30">18-30</option>
                <option value="30-65">30-65</option>
                <option value="65+">65+</option>
            </select>
        </div>

        <div class="niveau">
            <label for="niveau">Niveau:</label>
            <select id="niveau" name="niveau">
                <option selected value="{{profiel.niveau}}">{{profiel.niveau}}</option>
                <option value="beginner">Beginner</option>
                <option value="goed">Goed</option>
                <option value="heel goed">Heel goed</option>
            </select>
        </div>
        <button type="submit" value="voorkeur">Voorkeur aanpassen</button>
        </section>
        
    </nav>