{{>header}}
 <section class="profielfoto">
        <img src="{{profiel.img}}" alt="">
        <p>Darts</p>
    </section>
    <section>
        <p>{{profiel.name}}</p>
        <p>{{profiel.age}} jaar</p>
    </section>
    <article>
        <p>Hoi ik ben {{profiel.name}} en ben {{profiel.age}} jaar oud. 
            Ik zoek een dart partner om gewoon lekker wat potjes tegen te gooien! 
            Let me know! 
        </p> 
    </article>

    <section>
        <img class="up" src="Images/Thumps.png" alt="">
        <img class="down" src="Images/Thumps.png" alt="">
    </section>
    
    <p class="arrowdown">▼</p>
    <ul class="noJsList">
        <li class="headerList">Sport</li>
        <li><input type="radio" id="tennis" name="sport"><label for="tennis">Tennis</label></li>
        <li><input type="radio" id="voetbal" name="sport"><label for="voetbal">Voetbal</label></li>
        <li><input type="radio" id="darten" name="sport"><label for="darten">Darten</label></li>

        <li class="headerList">Leeftijd</li>
        <li><input type="radio" id="18-30" name="leeftijd"><label for="18-30">18-30</label></li>
        <li><input type="radio" id="31+" name="leeftijd"><label for="31+">31+</label></li>
        <li><input type="radio" id="geen_voorkeur" name="leeftijd"><label for="geen_voorkeur">Geen voorkeur</label></li>

        <li class="headerList">Niveau</li>
        <li><input type="radio" id="beginner" name="niveau"><label for="beginner">Beginner</label></li>
        <li><input type="radio" id="gemiddeld" name="niveau"><label for="gemiddeld">Gemiddeld</label></li>
        <li><input type="radio" id="goed" name="niveau"><label for="goed">Goed</label></li>
        <li><input type="radio" id="pro" name="niveau"><label for="pro">Pro</label></li>
    </ul>
